name: Build Workflow

on:
  push:
    branches: main

jobs:
  build-windows:
    runs-on: windows-2019
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Install Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.9'
          architecture: 'x64'
      - name: Install requirements
        run: |
          pip install -r requirements.txt -r requirements_build.txt
          pip install -e .
      - name: Run PyInstaller
        run: |
          python -m PyInstaller.__main__ -F -w -n ESP-Flasher -i icon.ico esp_flasher\__main__.py
      - uses: actions/upload-artifact@v2
        with:
          name: Windows
          path: dist/ESP-Flasher.exe

  build-windows-x86:
    runs-on: windows-2019
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Install Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.9'
          architecture: 'x86'
      - name: Install requirements
        run: |
          pip install -r requirements.txt -r requirements_build.txt
          pip install -e .
      - name: Run PyInstaller
        run: |
          python -m PyInstaller.__main__ -F -w -n ESP-Flasher -i icon.ico esp_flasher\__main__.py
      - name: See dist directory
        run: ls dist
      - uses: actions/upload-artifact@v2
        with:
          name: Windows-x86
          path: dist/ESP-Flasher.exe

  build-ubuntu:
    runs-on: ubuntu-20.04
    steps:
     - name: Checkout
       uses: actions/checkout@v1
     - name: Install Python
       uses: actions/setup-python@v1
       with:
         python-version: '3.9'
     - name: Install dependencies
       run: |
         sudo apt-get update
         sudo apt install libgtk-3-dev libnotify-dev libsdl2-dev
         pip install -U \
          -f https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-20.04 \
          wxPython
     - name: Install requirements
       run: |
         pip install -r requirements.txt -r requirements_build.txt
         pip install -e .
     - name: Run PyInstaller
       run: |
         python -m PyInstaller.__main__ -F -w -n ESP-Flasher -i icon.ico esp_flasher/__main__.py
     - name: See dist directory
       run: ls dist
     - name: 'Tar files'
       run: gzip dist/ESP-Flasher
     - uses: actions/upload-artifact@v2
       with:
         name: Ubuntu
         path: ESP-Flasher.gz


  build-macos:
    runs-on: macOS-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Install Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.9'
      - name: Install requirements
        run: |
          pip install -r requirements.txt -r requirements_build.txt
          pip install -e .
      - name: Run PyInstaller
        run: |
          python -m PyInstaller.__main__ -F -w -n ESP-Flasher -i icon.icns esp_flasher/__main__.py
      - name: See dist directory
        run: ls dist
      - name: Move app
        run: |
          mv dist/ESP-Flasher.app dist/ESP-Flasher-dev-macOS.app
      - name: 'Tar files'
        run: tar -cvf dist.tar dist/*
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v2
        with:
          name: macOS
          path: dist.tar

  build-pypi:
    runs-on: ubuntu-20.04
    steps:
     - name: Checkout
       uses: actions/checkout@v1
     - name: Install Python
       uses: actions/setup-python@v1
       with:
         python-version: '3.7'
     - name: Install dependencies
       run: |
         sudo apt-get update
         sudo apt install libgtk-3-dev libnotify-dev libsdl2-dev
         pip install -U \
          -f https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-20.04 \
          wxPython
     - name: Install requirements
       run: |
         pip install -r requirements.txt -r requirements_build.txt
         pip install -e .
     - name: Run sdist
       run: python setup.py sdist bdist_wheel
     - name: See dist directory
       run: ls dist
     - uses: actions/upload-artifact@v2
       with:
         name: sdist
         path: dist/esp_flasher-*.tar.gz
     - uses: actions/upload-artifact@v2
       with:
         name: bdist_wheel
         path: dist/esp_flasher-*.whl
