name: Tasmota Esp Flasher

on:
  workflow_dispatch:  # Manually start a workflow
  push:
    branches:
    - main
    paths-ignore:
    - '.github/**' # Ignore changes towards the .github directory
    - '*.md'

jobs:
  build-windows:
    runs-on: windows-2019
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          architecture: 'x64'
      - name: Install requirements
        run: |
          pip install -r requirements.txt -r requirements_build.txt
          pip install -e .
      - name: Run PyInstaller
        run: |
          python -m PyInstaller.__main__ -F -w -n ESP-Flasher -i icon.ico esp_flasher\__main__.py
      - uses: actions/upload-artifact@v3
        with:
          name: Windows
          path: dist/ESP-Flasher.exe

  build-ubuntu:
    runs-on: ubuntu-20.04
    steps:
     - name: Checkout
       uses: actions/checkout@v4
     - name: Install Python
       uses: actions/setup-python@v4
       with:
         python-version: '3.9'
     - name: Install dependencies
       run: |
         sudo apt update
         sudo apt install libgtk-3-dev libnotify-dev libsdl2-dev
         pip install https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-20.04/wxPython-4.2.1-cp39-cp39-linux_x86_64.whl
     - name: Install requirements
       run: |
         pip install -r requirements.txt -r requirements_build.txt
         pip install -e .
     - name: Run PyInstaller
       run: |
         python -m PyInstaller.__main__ -F -w -n ESP-Flasher -i icon.ico esp_flasher/__main__.py
     - name: See dist directory
       run: ls dist
     - name: 'Tar files'
       run: gzip dist/ESP-Flasher
     - name: 'show gzip'
       run: ls dist
     - uses: actions/upload-artifact@v3
       with:
         name: Ubuntu
         path: dist/ESP-Flasher.gz

  build-macos:
    runs-on: macos-11
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install requirements
        run: |
          pip install -r requirements.txt -r requirements_build.txt
          pip install -e .
      - name: Run PyInstaller
        run: |
          python -m PyInstaller.__main__ -F -w -n ESP-Flasher -i icon.icns esp_flasher/__main__.py
      - name: See dist directory
        run: ls dist
      - name: Move app
        run: |
          mv dist/ESP-Flasher.app dist/ESP-Flasher-dev-macOS.app
      - name: 'Tar files'
        run: tar -cvf dist.tar dist/*
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v3
        with:
          name: macOS
          path: dist.tar
